.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

.logo-1{
  border-radius: 20%;
}
.navbar-brand{
  font-style: oblique;
  font-size: 30px;
  font-family: 'Alkalami', serif;
  padding-top: 20px;
  margin-left: 500px;
  text-align: center;
}

.logo{
  margin-left: 10px;
  width:40px;
  height:40px;
}
.nav-items{
  padding: 0 18px;
}

.nav-link{
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  color: white;
}
h4{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  color: blue;
  font-weight: bold;
}
